*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
}


/* ================ */

.text-center {
    text-align: center !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px; 
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
}

.col_2 {
    width: 50%;
}

.col_3 {
    width: 33.33333%;
}


#main{
    
}

#head{
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1; 
    /* border: 1px solid green; */
}

#nav{
    display: inline-block;
    position: relative;
}

#nav li{
    display: inline-block;
}

#nav li a{
    display: inline-block;
    width: 100%;
    color: white;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
}
#nav li:hover .subnav{
    display: block;
}
#nav > li:hover > a {
    background-color: gainsboro;
    color: black;
    
}

#nav .subnav {
    /* top: 60%; */
    display: none;
    position: absolute;
    background-color: white;
}

#nav .subnav li{
    width: 100%;
}

#nav .subnav li a{
    color: black;
    width: 100%;
}

#nav .subnav li:hover a{
    background-color: gainsboro;
    color: black;
}

.nav_icon_down {
    font-size: 14px;
}
/* ========================= */
.mobile_menu_btn{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}
#head .mobile_menu_btn,
#head .search{
    float: right;
    padding: 0 20px;
    height: 46px;
}



#head .menu_icon,
#head .search .search_icon{
    color: white;
    font-size: 18px;
    line-height: 46px;
}

#head .search:hover {
    background-color: #f44336;
    cursor: pointer;
}

#head .mobile_menu_btn:hover {
    background-color: #cccccc;
}
#head .mobile_menu_btn:hover .menu_icon{
    color: black;
}
/* ================= */

#slidebar{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/slider/slider2.png') top center / cover no-repeat;
    /* border: 1px solid red; */
}

#slidebar .slidebar_text {
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    text-shadow: 0 0 1px #000;
}

#slidebar .slidebar_text  .slidebar_text-heading {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 25px;
}
#slidebar .slidebar_text  .slidebar_text-disreption {
    font-weight: 500;
    font-size: 15px;
}
/* ================ */

.tour_section {
    background-color: black;
    padding: 84px 0px;
}

.content_section{
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 16px;
}

#content .about {
    margin-left: auto;
    margin-right: auto;
    padding: 84px 0px;
}

#content .heading {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .sub-heading{
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .content {
    font-size: 15px;
    margin-top: 25px;
    text-align: justify;
    line-height: 1.4;
}

#content .heading,
#content .sub-heading {
    text-align: center;
}

.team{
    margin-top: 48px;
}



.team .member .name{
    font-size: 15px;
    
}

.team .member .img{
    display: inline-block;
    width: 154px;
    border-radius: 4px;
    margin-top: 15px;
}



#content .tour {
    background-color: black;
}


#content .tour .heading{
    color: white;
}

#content .tour .sub-heading{
    margin: 32px 0;
    color: white;
}

.tour .slot_list {
    background: white;
    margin-top: 10px;
    display: inline-block;
    width: 100%;
}

.tour .slot_list .slot_item {
    padding: 8px 16px;
    border-bottom: 1px solid gainsboro;
}

.tour .slot_list .slot_item .Month{    
    display: inline-block;  
    opacity: 0.6;
}

.tour .slot_list .slot_item .status{ 
    display: inline-block;   
    color: white;
    background: #f44336;
    padding: 2px 8px;
    margin-left: 16px;
}

.tour .slot_list .slot_item .status-in{
    float: right;
    border-radius: 50%;
    background-color: black;
    margin-right: 16px;
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    padding: 0;
}

.tour .show {    
    margin-top: 16px;
    /* margin-bottom: 48px; */
}

.tour .show  .item_img {
    width: 100%;
    display: block;
}

.tour .show  .item_img:hover {
    opacity: 0.6;
}

.tour .show  .item_text {
    background-color: white;
    padding: 16px;
    font-size: 15px;
}

.tour .show  .item_text .text_heading {
    font-size: 15px;
}

.tour .show .item_text .text_date {
    margin-top: 15px;
    opacity: 0.6;
}

.tour .show .item_text .text_descreption {
    margin: 15px 0;
    line-height: 1.4;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 11px 16px;
    border: none;
    text-align: center;
}

.btn:hover {
    background-color:#cccccc;
    color: black;
    cursor: pointer;
}



#content .contact {    
    margin-left: auto;
    margin-right: auto;       
    padding: 84px 0;  
}

.contact_body_list {
    font-size: 18px;
    line-height: 1.6;
}
.contact_body_list p i[class*="fas"] {
    width: 30px;
}

.contact_body_list p  a{
    color:blue;
}

.contact_body_list p  a:hover {
    color:#2196F3;
}

.contact_body{
    margin-top: 48px;
}

.contact_form{
    font-size: 15px;
}

.contact_form .input {
    padding: 10px;
    border: 1px solid #cccccc;
    width: 100%;
}

.contact_form .submit_btn {
    float: right;
}


/* ================ */
#footer .map{  
    padding-top: 50%;
    background: url('../img/footer/map.jpg') top center / cover no-repeat;
    filter: grayscale(50%);
}

#footer .body {
    padding: 64px 16px;
    text-align: center;
}

#footer .body .icon_list {
    font-size: 24px;
    color: #666666;
}

#footer .body .desreption ,
#footer .body .desreption a { 
    margin-top: 30px;
    color: #929292;
}

#footer .body .icon_list .item:hover {
    color: #929292;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: none;     
}

.modal_overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    
}

.modal-open {
    display: flex;
}



.modal .container {
    margin: auto;
    background-color: white;
    width: 900px;
    max-width: calc(100% - 64px);
    position: relative;  
    animation: modal_fadein ease 0.5s;   
    will-change: opacity, transform;
}

.modal > .container >.btn_close {
    position: absolute;
    right: 0;
    background-color: #009688;
    width: 60px; 
    height: 60px;   
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal > .container >.btn_close > i {
    color: white;   
    font-weight: 900;
}

.modal > .container >.btn_close:hover {
    background-color: #cccccc;
    color: rgb(53, 53, 53);
    cursor: pointer;
}

.modal .container .header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009688;
    padding: 46px 0;
    font-size: 30px;
    font-weight: 100;
    color: white;
    Letter-spacing: 6px;
}

.modal .container .header i {
    padding-right: 18px;
}

.modal .container .body {
    padding: 0 16px 16px 16px;    
}

.modal .container .body .item .label {
    display: block;
    padding: 16px 0;
}

.modal .container .body .item .input {
    width: 100%;
    display: block;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #cccccc;
    margin-bottom: 10px;
}
.modal .container .body .btn_pay {
    background-color: #009688;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 54px;
    margin-top: 32px;
    color: white;    
}

.modal .container .body .btn_pay:hover {
    background-color: #cccccc;
    color: rgb(53, 53, 53);
    cursor: pointer;
}

.modal .container .body .btn_pay i {
    padding: 0 2px;
    font-size: 14px;
    align-self: center;
}

.modal .container .footer {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    margin-top: 10px;
}

.modal .container .footer .btn_close_bottom {
    text-align: center;
    height: 38px;
    background-color: #f44336;
    padding: 12px 16px;
    color:white;
}
.modal .container .footer .text a {
    color: #2196F3;
}
.modal .container .footer .btn_close_bottom:hover {
    background-color: #cccccc;
    color: rgb(53, 53, 53);
    cursor: pointer;
}

@keyframes modal_fadein {
    from{
        opacity: 0.5;
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes opacity {
    from{
        opacity: 0.5;
    }
    to {
        opacity: 0.5;
    }
}
